<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Booksto - Responsive Bootstrap 4 Admin Dashboard Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="~/Assets/css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Assets/css/responsive.css">
</head>
<body>
    <div id="loading">
        <div id="loading-center"></div>
    </div>
    @RenderBody()
    <script src="~/Assets/js/jquery.min.js"></script>
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <!-- Appear JavaScript -->
    <script src="~/Assets/js/jquery.appear.js"></script>
    <!-- Countdown JavaScript -->
    <script src="~/Assets/js/countdown.min.js"></script>
    <!-- Counterup JavaScript -->
    <script src="~/Assets/js/waypoints.min.js"></script>
    <script src="~/Assets/js/jquery.counterup.min.js"></script>
    <!-- Wow JavaScript -->
    <script src="~/Assets/js/wow.min.js"></script>
    <!-- Apexcharts JavaScript -->
    <script src="~/Assets/js/apexcharts.js"></script>
    <!-- lottie JavaScript -->
    <script src="~/Assets/js/lottie.js"></script>
    <!-- Slick JavaScript -->
    <script src="~/Assets/js/slick.min.js"></script>
    <!-- Select2 JavaScript -->
    <script src="~/Assets/js/select2.min.js"></script>
    <!-- Owl Carousel JavaScript -->
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup JavaScript -->
    <script src="~/Assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Smooth Scrollbar JavaScript -->
    <script src="~/Assets/js/smooth-scrollbar.js"></script>
    <!-- Style Customizer -->
    <script src="~/Assets/js/style-customizer.js"></script>
    <!-- Chart Custom JavaScript -->
    <script src="~/Assets/js/chart-custom.js"></script>
    <!-- Custom JavaScript -->
    <script src="~/Assets/js/custom.js"></script>
</body>
</html>
