
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model System.Xml.Linq.XDocument

<div id="xmlDataContainer">
    <h2>ViewXML của Nhóm</h2>


<pre>
        @(Model)
    </pre>
</div>
